* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1152px;
    margin: 0 auto;
}
.header {
    background-color: rgba(49, 49, 49, 1);
}
.header_wrap {
    display: flex;
} 
.header_nav_menu {
    display: flex;
    list-style: none;
    padding: 25px 0 ;
}
.header_nav_menu_link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    margin-right: 35px;
}
.header_search {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 1);
    padding: 30px 0 0 30px;
}
.header_nav_menu_link:hover {
    color: rgba(20, 185, 213, 1);
}
.header_img {
    min-height: 438px;
    background: url(../img/header-bg.jpeg) 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
.header_img_content {
    padding-top: 144.5px;
}
.header_img_title {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.header_img_btn {
    text-align: center;
    margin-top: 44px;
}
.header_btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    padding: 17px 19px;
    background-color: #89CA62;
    border-radius: 4px;
}
.btn_blue {
    background-color: #14B9D5;
    margin-left: 20px;
    padding: 17px 30px;
}
.popular_posts {
    background-color: rgba(242, 242, 242, 1);
}
.main_title {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
    padding-top: 49px;
}
.popular_post_gallary {
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    padding-bottom: 42px;
}
.gallary_card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03); 
    margin-bottom: 32px; 
    max-width: 362px;
    align-self: flex-start;
}
.gallary_card:nth-child(2) {
    margin: 0 30px 30px 30px;
}
.gallary_card:nth-child(4) {
    margin-top: -105px;
}
.gallary_card:nth-child(5) {
    margin: 0 30px;
}
.gallary_card:nth-child(6) {
    margin-top: -80px;
}
.gallary_card_title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding: 23px 0;
}
.popular_clients{
    min-height: 588px;
    background: url(../img/section-popular-clients-bg.jpeg);
    background-size: cover; 
    background-attachment: fixed;  
}
.popular_clients_title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-top: 108px;
}
.popular_clients_menu {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-gap: 58px;
    justify-content: center;
    margin-top: 100px;
    list-style: none;
}
.popular_clients_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 87px;
    background: #18B4CF;
}
.top_rated {
    min-height: 326px;
}
.top_rated_gallary {
    padding-top: 52px;
    display: grid;
    grid-template-columns: repeat(7, 271px); 
    max-width: 100%;
}
.hot_news_cards {
    margin-top: 51px;
    padding-bottom: 77px;
    display: grid;
    grid-template-columns: repeat(4, 247.1px);
    grid-template-rows: 259px 418px 416px 258px;
    grid-column-gap: 60px;
    grid-row-gap: 43px;
}
.hot_news_card {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.prophecy_hotel {
    display: flex;
    grid-column: span 3;
}
.nebula_hotel {
    grid-template-columns: 260px;
    grid-column: span 1;
}
.western_pyramid_hotel {
    grid-column: span 2;
}
.grand_meadows_hotel {
    grid-column: span 2;
}
.wanderlust_hotel {
    grid-column: span 2;
}
.twin_sanctuari_hotel {
    grid-column: span 2;
}
.prisim_hotel {
    grid-column: span 1;
}
.king_shroud_hotel {
    display: flex;
    grid-column: span 3;
}
.hot_news_card_img {
    max-width: 247.1px;
}
.hot_news_cards_title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 14px 15px 15px;
    text-align: right;
}
.hot_news_cards_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    color: #5B6469;
    padding: 0 10px;
}
.hot_news_cards_title:nth-child(1) {
    padding-top: 41px;
}
.hot_news_cards_title:nth-child(2) {
    text-align: center;
    padding: 15px;
}
.footer {
    background-color: #000;
}
.footer_info {
    display: grid;
    grid-template-columns: 1fr 105px;
}
.footer_info_text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    padding: 29px 0 30px;
}
.footer_info_logo {
    padding: 29px 0 27px 0;
    text-align: end;
}
